*{
    padding: 0px;
    margin: 0px;
}
header{
    width: 90%;
    margin: 0 auto;
}
.bannar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: url(./images/shapes/Group\ 8450.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: 400px;
    height: 95vh;

}

.bannar-rights img{
    width: 100%;
    background-color: transparent;
    margin-bottom: 130px;
    
}
.bannar-inner{
    display: flex;
    gap: 100px;
    justify-content: space-between;
    align-items: center;
}
.bannar-left span{
    color: #FBA24F;
    
}
.bannar-left h3{
    font-size: 40px;

}
.bannar-left p{
    margin-top: 12px;
    font-size: 20px;
}
.bannar-left button{
    padding: 13px 30px;
    border: none;
    color: white;
    background-color: #FBA24F;
    text-transform: capitalize;
    margin-top: 25px;
}
.about{
    margin-top: 60px;
    margin-bottom: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    padding: 0px;

    background-image: url(./images/shapes/7.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}
.about-inner-width{
    width: 90%;
    margin: auto;
    display: flex;

    justify-content: space-around;
    align-items: center;
    padding-top: 40px;
}
.about-left img{
    width: 80%;
}
.about-rights button{
    padding: 13px 24px;
    border: none;
    color: white;
    background-color: #FBA24F;
    margin-top: 12px;
    text-transform: capitalize;
}
.about-rights h3{
    text-transform: capitalize;
    font-size: 30px;
    margin-bottom: 14px;
}
.about-rights p{
    font-size: 20px;
}
/* about section end here */
/* recipies section start here */

.recipies{
    margin-top: 60px;
    width: 90%;
    margin: 0 auto;
    

}
.receipies-title{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.receipies-title h3{
    font-size: 30px;
    text-transform: capitalize;
    line-height: 48px;
}
.recepies-box{
    display: flex;
    justify-content: space-between;
    gap: 50px;
  
 
}
.recepies-inner img{
    width: 100%;
}
.recepies-inner{
    box-shadow: 1px 2px 2px 2px rgb(236, 233, 233);
    padding: 20px;
    border-radius: 20px;
}
.recepies-box h3{
    font-size: 25px;
    line-height: 49px;
    text-transform: capitalize;
}
/* recepies section end here */
/* reveiw section start here */
.reveiw{
    margin-top: 50px !important;
    display: flex;
    justify-content: space-around;
    width: 85%;
    margin: auto;
    box-shadow: 2px 2px 2px 2px rgb(228, 224, 224);
    padding: 40px;
    border-radius: 20px;
}
.reveiw-box h3{
    font-size: 33px;
}

